<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="container">

      <h1>Open Source Contributors</h1>
      <h2>Public GitHub activity by <%= @org_name %> team members, in the last 90 days.</h2>

      <%= @test %>

      <ul class="contributors">
        <% for @contributor in @contributors %>

          <li class="contributor">
            <div class="avatar-container">
              <a href="<%= @contributor["user"]["html_url"] %>">
                <span class="avatar" style="background-image: url(<%= @contributor["user"]["avatar_url"] %>);"></span>
              </a>
            </div>

            <div class="activity">
              <h3 class="contributor-username">
                <a href="<%= @contributor["user"]["html_url"] %>">
                  <%= @contributor["user"]["login"] %>
                </a>
              </h3>

              <ul class="activity-events">
                <% @contributor["activity"].each do |type,count| %>
                  <% if @descriptions.key?(type) %>
                    <li class="event"><%= @descriptions[type] % count %></li>
                  <% end %>
                <% end %>
              </ul>
          </li>

        <% end %>
      </ul>
    </div>

    <footer>
      Activity data is updated nightly.<br>
      Data last updated on <%= @updated.strftime("%A, %B %d at %I:%M:%S %p") %>.
    </footer>

  </body>
</html>
